extends layout

block content

    div(class='container-fluid')
        div(class='row')
            div(id='main')
    //script(src='javascripts/visualizations.js', type='text/javascript')
    script.
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        var globalDataSourceName = getParameterByName('dataSourceName') || 'main';
        console.log("data source name: " + globalDataSourceName)
        
        var Theme = {};

        d3.json("config/dashboard", function(config){
            var dashBoardConfig =  config || {};
            console.log(config);
            console.log("....");
            Theme = dashBoardConfig;

        });
        console.log("Hello")
        var queryFilter = {};
        var dataTable = {};

   
    script(src='https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js',  type='text/javascript')

    script(src='javascripts/browserify/bundle.js', type='text/javascript')
   
