extends layout

block content
	div(class='container-flud')
		h1(class='page-header') Demo Visualisation
		div(class='row')
			h4 Filtering Attributes
			div(class="btn-group btn-group-lg", id="filtering_attributes")

		div(class='row')
			table(id='dc-data-table', class='table')
					thead
						tr(class='header' id="dc-data-table-header")


	div(class="containter modals", id="filtering_charts")

	script(src='javascripts/vis.js', type='text/javascript')
