extends layout

block content
	div(class='navbar navbar-inverse navbar-fixed-top' id='header' role='navigation')
		.container-fluid
			.navbar-header
				a.navbar-brand(href='#') Demo Visualisation
	div(class='container-fluid')
		div(class='row')
			div(class='col-sm-3 col-md-3 sidebar')
				h4 Filtering Attributes
				//
					div(class='panel panel-default')
						div(class='panel-heading') 
							h3(class='panel-title') Panel
						div(class='panel-body smallChart' id='small-chart') 
				div(class='panel-group' id="filtering_attributes")
					//div(class='panel pan')
			div(class='col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main')
				div(class='row')
					div(id='visualization')


	div(id="loading" style="z-index: 2000" class="modal fade")
		div(class="modal-dialog")
			div(class="modal-content")
				h3 Loading...

	div(class="containter modals" id="visualization_modals")

	script(src='javascripts/vis.js', type='text/javascript')
