extends layout

block content
	div(class='navbar navbar-inverse navbar-fixed-top' id='header' role='navigation')
		.container-fluid
			.navbar-header
				a.navbar-brand(href='#') Demo Visualisation
	div(class='container-fluid')
		div(class='row')
			div(class='col-sm-3 col-md-3 sidebar')
				div(class='row')
					div(class="btn-group")
						a(href='/state' target="_blank")
							button(class='btn' style="margin:2px 4px") View State
						a(href="#")
							button(class='btn') Load State
				div(class='row')
					h4 Filtering Attributes
					div(class='panel-group' id="filtering_attributes")
						//div(class='panel pan')
			div(class='col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main')
				div(class='row')
					div(id='visualization')


	div(id="loading" style="z-index: 2000" class="modal fade")
		div(class="modal-dialog")
			div(class="modal-content")
				h3 Loading...

	div(class="containter modals" id="visualization_modals")

		

	script(src='javascripts/visualizations.js', type='text/javascript')
	script(src='javascripts/main.js', type='text/javascript')
