doctype html
html
	head
		title Demo Visualization
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='javascripts/d3.js' type='text/javascript')
		script(src='javascripts/crossfilter.js' type='text/javascript')
		script(src='javascripts/dc1.6.js' type='text/javascript')
		script(src='javascripts/jquery-1.9.1.min.js', type='text/javascript')
		script(src='javascripts/bootstrap.min.js', type='text/javascript')
		link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/dc.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css")
	body
		block content
