body {
    padding-top: 70px;
    overflow-y: hidden;
}
#loadingMessage {
    position: absolute;
    top: 100;
    left: 100;
    z-index: 100;
    background: #ccc;
}
#filtering_attributes {
    padding: 0 30px 30px 30px;
}
#filtering_attributes button {
    padding: 14px 22px;
}
#header {
    background: #C9C9D8;
    margin-bottom: 10px
}
#header a {
    color: #fff;
    font-weight: 700;
}
/*
#header a:hover{
  color: #ffffff;
}
*/

.navbar-brand {
    background: #F47A7E;
}
footer {
    padding: 2em 0 1em 0;
    font-size: 12px;
}
.modal-content {
    min-height: 400px;
    padding: 30px;
}
/*
.chart{
  position: relative;
  top: 10px;
  left: 40px;
}
*/

.filterRangeInput {
    color: #333;
}
.navbar-options {}
/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
}
/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    //border-bottom: 1px solid #eee;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */

.sidebar {} @media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding: 20px 12px;
        width: 330px;
        display: block;
        //overflow-x: visible;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */

        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}
#interactiveFiltersPanel {
    overflow-y: scroll;
    overflow-x: visible;
    background: hsl(211, 3%, 94%);
    height: 100vh;
    padding-top: 12x;
}
/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */

    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}
/*
 * Main content
 */

.main {
    //padding: 20px;
}
.main .page-header {
    margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.thumb-chart {
    cursor: pointer;
}
.thumb-panel-body {} .panel-heading-right {
    float: right;
    display: inline;
    width: 100px;
    position: relative;
    top: -4px;
}
.panel-heading-right input {
    border: 1px solid #ccc;
    width: 25px;
    height: 25px;
    margin: 4px;
    float: left;
    padding: 1px;
    color: #aaa;
    font-size: 11px;
}
a.panel-reset {
    color: #333;
}
.panel-reset {
    float: right;
    margin-top: 2px;
}
.inactive {
    color: #333;
}
/*
table#dataTable{
  font-size: 11px;
  overflow-x: scroll;
}
*/

.datatablevis {
    font-size: 11px;
    margin: 0 auto;
}
/*
*/

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #f47a7e;
    border: 0px solid #f47a7e
}
.pagination>li>a,
.pagination>li>span {
    color: #f47a7e;
}
#totalChart {
    height: 25px;
    width: 300px;
    background: #ccc;
    border: 1px solid #333;
}
.visualizationArea {
    margin: 4px auto;
    padding: 10px;
    overflow-y: scroll;
    padding-bottom: 50px;
}
th {
    padding: 15px;
}
/*
#dataTableNav{
  text-align: center;
}
#dataTableNav a{

  padding: 12px;
}
//Font size for datatable
.dataTables_scrollBody{
    border: 1px solid #333;
    font-size: 11px;
    width: 100%;
}


//Fix datatable for small width tables
.dataTables_scrollHeadInner{
    width: 100%;
}
*/

th {
    //    border:1px solid #333;
}
tr {
    cursor: pointer;
}
#activeRecords div {
    display: inline;
}
#activeRecords {
    float: right;
    font-size: 12px;
}
#main {
    // padding: 15px;
}
.nav-tabs > li,
.nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    /* ie7 fix */

    zoom: 1;
    /* hasLayout ie7 trigger */
}
.nav-tabs,
.nav-pills {
    text-align: center;
}
#vis_wrapper {
    padding: 10px;
}
#vis_info,
#vis_paginate {
    font-size: small;
}
#visualization {
    //padding-top: 12px;
    // margin: 0 auto;
}
#visualization_wrapper {
    float: none;
    width: auto;
    overflow: scroll;
    padding: -2px 20px;
    height: 100vh;
}
#main_container {
    width: 100%;
}
#interactiveFiltersPanelSlider:hover {
    background: rgb(244, 122, 126);
}
#interactiveFiltersPanelSlider {
    position: relative;
    left: 12px;
    padding: 16px 3px;
    background: #03A9F4;
    color: #fff;
    margin: 0;
    top: 2px;
    //box-shadow: 5px 5px 5px grey;
    float: right;
    //top: 100px;
    //left: 320px;
    z-index: 1000;
}
#heat {
    margin: 0px 30px 0 0;
}
#imageGrid {
    width: 93%;
    margin: 0 auto;
}
#imageGridPagination {
    padding: 20px;
    //display: none;
}
#imageGridPagination .next {
    //	display: hidden;
}
#imageGridPagination .prev {
    //	display: hidden;
}
/*React transitions*/

.imageGridImages-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}
.imageGridImages-enter.imageGridImages-enter-active {
    opacity: 1;
}
.chartAddons {
    margin: 2px;
    //  float: right;
}
.chartAddons input {
    width: 40px;
    display: inline;
    border: 1px solid #333;
    color: #666;
}
//React Modals
#OptionsBar button {
    float: right;
}
/*
 * SPLOM
 */

.splom {
    padding-left: 40px;
    width: 1000px;
    margin: 0 auto;
}
.splom-grid-col {
    display: inline-block;
    width: 220px;
    background: #fff;
    border: 1px solid #ccc;
    margin: 2px;
    height: 220px;
}
.splom-grid-box div {
    float: left;
    padding-top: 10px;
    padding-left 4px;
}
.splom-grid-box {
    display: inline-block;
    width: 220px;
    height: 220px;
    border: 1px solid #ccc;
    margin: 1px;
}
#splom-title div {
    width: 220px;
    font-size: 12px;
    height: auto;
    display: inline-block;
    float: left;
    padding-left: 4px;
    border: 1px solid #ccc;
    margin: 1px;
    text-align: center;
}
div#splom-spacer {
    width: 8px;
    transform: none;
    padding: 0;
    border: 0;
}
.splom-title {
    //    margin: 2px;
}
.splom-side-title {
    display: inline-block;
    float: left;
    height: 220px;
    font-size: 12px;
    width: 10px;
    display: inline-block;
    white-space: nowrap;
    /* this is for shity "non IE" browsers
       that dosn't support writing-mode */

    -webkit-transform: translate(1.1em, 2em) rotate(270deg);
    -moz-transform: translate(1.1em, 0) rotate(270deg);
    -o-transform: translate(1.1em, 0) rotate(270deg);
    transform: translate(-0.4em, 4em) rotate(270deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    /* IE9+ */

    -ms-transform: none;
    -ms-transform-origin: none;
    /* IE8+ */

    -ms-writing-mode: tb-rl;
    /* IE7 and below */

    *writing-mode: tb-rl;
    //    word-wrap: break-word;
    //   padding-left: 140px;
    // transform: rotate(90deg);
    //   transform-origin: left top 0;
}
/* Filtering Attributes */

.chart-wrapper {
    width: 300px;
}
.chart-wrapper .chart-stage {
    background: #fff;
    padding: 4px 24px;
}
.chart-title {
    background: #C9C9D8;
    color: #fff;
}
.chart-wrapper .chart-title {
    color: #000;
    border: 0;
    text-align: left;
    text-transform: capitalize;
    font-size: 14px;
}
.chart-wrapper {
    border: 0;
    background: #fff;
}
.chartAddons {
    font-size: 10.5px;
    color: #fff;
}
.chart-notes {
    border: 0;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
}
button {
    color: #000;
    //    background: #03A9F4;
    background: rgb(201, 201, 216);
    //    box-shadow: 2px 2px 2px grey;
    border: 0;
}
.chart-wrapper .chart-notes {
    border: 0;
    background: rgb(156, 156, 171);
}
.side {
    max-width: 350px;
}
a {
    color: #000;
}
.filteringFullView {
    position: relative;
    top: -30px;
}
#interactiveFiltersPanelFull {
    background: #f5f5f8;
    color: #212121;
    //    max-width: 400px;
    padding-bottom: 60px;
    text-align: center;
    float: left;
    overflow-y: scroll;
    width: 100%;
    padding: 10px;
    height: 100vh;
}
#interactiveFiltersPanel {
    background: #f5f5f8;
    color: #212121;
    //    max-width: 400px;
    padding-bottom: 60px;
    text-align: center;
    float: left;
    width: 340px;
    padding: 10px;
}
#interactiveFiltersPanel h4 {
    //    font-family: Roboto, Futura, Arial, Verdana;
    font-size: 16.5;
}
img {
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
    animation: 3s ease-in 1s 2 reverse both paused slidein;
}
.filteringAttributesList {
    margin-top: 40px;
}
#filteringAttributeTitle {
    padding-top: 17px;
    font-size: 17px;
}
.nav-tabs>li.active>a {
    background: #c9c9d8;
    border: 0px;
    border-bottom: 3px solid #f46a73;
    cursor: pointer;
}
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background: #c9c9d8;
    color: #000;
    border: 0px;
    border-bottom: 3px solid #f46a73;
    cursor: pointer;
}
.nav>li>a:hover,
.nav>li>a:focus {
    background: #c9c9d8;
    color: #000;
    border: 0px;
    border-bottom: 3px solid #f46a73;
    cursor: pointer;
}
ul.nav.nav-tabs {
    background: #c9c9d8;
}
.navbar {
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.75);
}
.navbar-right {
    padding-right: 30px;
}
.navbar-brand {
    font-weight: 800;
}
.chart-title-icons {
    display: inline-block;
    position: absolute;
    right: 10px;
}
.chart-title-icons svg {
    opacity: 0.6;
}
.chart-title-icons svg:hover {
    //   fill: #fff;
    opacity: 1;
    cursor: pointer;
}
#interactiveFiltersPanel {
    color: #212121;
}
#interactiveFiltersPanel .dc-chart .axis text {
    fill: #73838A;
}
#interactiveFiltersPanel .dc-chart .axis path,
#interactiveFiltersPanel .axis line {
    stroke: #73838A;
}
ul.nav.nav-tabs {
    background: #c9c9d8;
    text-align: left;
}
#visualization {
    margin: 20px 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}
.chart-wrapper {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)!important;
}
ul.nav.nav-tabs {
    text-transform: capitalize;
}
.bar,
.symbol {
    fill: #f47a7e;
}
.grid-item {
    margin: 0px auto;
}
#imageGridImages {
    padding-top: 14px;
}
.imageGridItem img {
    margin: 9px;
    box-shadow: 0 0 11px gray;
}
.imageGridItem img:hover {
    box-shadow: 0 0 11px black;
}
.interactiveFiltersList {
    padding-top: 10px;
}
/*Summary*/

#summary {
    //background: #333;
    //height: 100px;
    //padding: 10px;
    //padding-left: 200px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 600px;
    display: inline-block;
    //margin: 0 auto;
    margin-left: 10%;
    padding-top: 5px;
}
#summaryMain {
    margin: 0 auto;
}
.summaryPopulation {
    height: 25px;
    width: 400px;
    //padding: 12px;
    //z-index: 2000;
    display: inline-block;
    //background: steelblue;
    color: #fff;
    //padding-top: 3px;
    //border: 1px solid #333;
    font-size: 12px;
    background: #9c9cab;
}
.summaryPopulation div {
    //z-index:10;
    //display: inline-block;
    background: red;
    height: 25px;
    position: relative;
    top: -17px;
    //padding-top: 3px;
}
.summaryFull {} .filterSummary {
    display: inline-block;
    background: #eee;
    border-radius: 3px;
    font-size: 12px;
    width: 160px;
    padding: 3px;
    border: 1px solid #ddd;
}
.filterSummary:hover {
    border: 1px solid #bbb;
}
.filterButton:hover {
    color: #000;
    cursor: pointer;
}
.filterName {
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
.summaryPopulationLabel {
    position: relative;
    top: 5px;
    z-index: 100;
}
.summaryHide {
    width: 30px;
    font-size: 10px;
    height: 30px;
    color: black;
    position: relative;
    left: 200px;
}
.statistics td,
.statistics th {
    //  border-bottom: 1px solid black;
    text-align: left;
    //height: 30px;
    padding: 3px 10px;
    color: black;
    width: 80px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    border: 1px solid #ccc;
}
.statistics {
    margin: 5px;
}
.statistics td:first-child,
.statistics th:first-child {
    //text-align: right;
}
.map {
    width: 800px;
    height: 450px;
}
#footer {
    width: 100%;
    padding: 10px;
    //position: fixed;
    bottom: 0px;
    //height: 30px;
    //background: #ccc;
    //color:
}
.dc-chart .pie-slice {
    fill: black;
}
.dc-chart g.row text {
    fill: black;
}
