body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#filtering_attributes{
	font-size: 120%;
	padding: 0 30px 30px 30px;
}
#filtering_attributes button{
	padding: 14px 22px;
}